<nav class="navbar navbar-expand-md  border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/87/BMS_College_of_Engineering.svg/330px-BMS_College_of_Engineering.svg.png" style="height: 3rem; width: 3rem;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/proctor">Home</a>
          <a class="nav-link" href="/proctees">Proctees</a>
          <!-- <a class="nav-link" href="/dashboard/new">Add Activity</a> -->
        </div>
        <div class="navbar-nav ms-auto">
            <a href="/logout" class="btn btn-danger" >Logout</a>
            
        </div>
      </div>
    </div>
  </nav>