<% layout("/layouts/boilerplate") %>
<body>
  <br>
  <h1>Welcome, <%= username %></h1>
    <h3>ALL Activity</h3>
    <ul>
        <% let foundPending = false; %>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
         
            <% for (let list of alllistings){%>
              <% if(curruser && curruser.equals(list.owner)){%>
                <% foundPending = true; %>
                <a href="/dashboard/<%=list._id%>" class="card-link"><div class="card border-info mb-3 " style="max-width: 18rem; height: 10rem;">
                <div class="card-body">
                  <h5 class="card-title"><%=list.activity%></h5>
                </div>
              </div>
            </a>
              <%}%>
        <%}%>
        </div>
        <% if (!foundPending) { %>
          <h4>Your activity log is waiting to be filled. Start adding your achievements!</h4>
        <% } %>
        
    
    
    
</body>
